html {
	background-color: #085794;	
}

h1{
	text-align: left;
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;	
	color: #FFFFFF;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 30px;
}

.unit-1{
	padding-left: 30px;	
}

.unit-2{
	padding-left: 30px;	
}

.carousel {
	position: relative;
}

.carousel img {
	float: center;
	left: 0;
	top: 0;
	width: 75%;
}

.carousel-buttons {
	padding-bottom: 15px;
}

h2{
	text-align: left;
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;	
	color: #FFFFFF;
	text-justify:auto;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer{
	color:m#FFFFFF	;
}